DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE?ssl-mode=REQUIRED&allowPublicKeyRetrieval=true"
NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:3000
AUTH_API_URL=https://auvet-autenticacao.onrender.com
