DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE?ssl-mode=REQUIRED&allowPublicKeyRetrieval=true"
NODE_ENV=development
PORT=3000
CORS_ORIGINS=http://localhost:5173,https://auvet-frontendd.vercel.app
AUTH_API_URL=https://auvet-autenticacao.onrender.com
